<table border=1>
<tr>
<th> Settings </th>
<th> Enable mode </th>
<th> Test mode </th>
</tr>
{% for payment in oPayment %}
<tr><td>{{ payment.name }}</td>
<td><input type="checkbox"/></td>
<td><input type="checkbox" /></td></tr>
{% endfor %}
</table>

{{ form_widget(form.is_enabled) }}
{{ form_widget(form.is_testmode) }}
