{% extends 'DatumFrontendBundle:Base:layout.html.twig' %}

{% block container %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
var formErrorMessages = formErrorMessages||{};
showErrorMessage = function(elementId, message) {
    var element = $('#'+elementId);
    if (!formErrorMessages[elementId]) {
        element.after('<div class="error-message">'+message+'</div>');
        if (!formErrorMessages[elementId]) 
            formErrorMessages[elementId] = {};
        
        formErrorMessages[elementId] = true;
    }
}
var proceedFormWithReturnedHtml = function (formId, data) {
if (data.result == 'fail' && data.errors && data.errors.length > 0) {
        for (var i = 0; i < data.errors.length; i++) {
            for (var errorKey in data.errors[i]) {
                if (data.errors[i].hasOwnProperty(errorKey)) {
                    var errorMessage = data.errors[i][errorKey],
                        inputElement = $('#' + formId + ' *[name="' + errorKey + '"]');

                        showErrorMessage(inputElement.attr('id'), errorMessage);
                    
                }
            }
        }
    }
}
    $('#addBook').submit(function (e) {
        e.preventDefault();
            var successUrl = $(this).attr('data-success-url');
            var formId = $(this).attr('id');
            $.post(
                $(this).attr('action'),
                $(this).serialize(),
                function (data, textStatus, jqXHR) {
                    if (data.result == 'fail') {
                        proceedFormWithReturnedHtml(formId, data);
                    } else {
                        window.location.replace(successUrl);
                    }
                }
            );
        
    });
});
</script>
<div class="panel panel-default container">
<div class="panel-heading"><h1>Add book</h1></div>
    <div class="panel-body">
        <div class="row">
            <form id="addBook" method="post" action={{ path('datum_frontend_addbook') }} novalidate>
                <div class="col-xs-8">
                    <div class="form-group">
                        {{ form_label(oBookForm.name) }}

                        {{ form_widget(oBookForm.name) }}

                        <div class="error-message">
                            {{ form_errors(oBookForm.name) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        {{ form_label(oBookForm.categories) }}

                        {{ form_widget(oBookForm.categories) }}
                        <div class="error-message">
                            {{ form_errors(oBookForm.categories) }}
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        {{ form_label(oBookForm.authors) }}

                        {{ form_widget(oBookForm.authors) }}
                    </div>
                </div>
                <div class="col-xs-8">
                    {{ form_rest(oBookForm) }}
                    <button type="submit" class="btn btn-primary">SAVE</button>
                    <a href="{{ path('datum_frontend_booklisting')}}">cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
