{% extends 'DatumFrontendBundle:Base:layout.html.twig' %}

{% block container %}
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
var formErrorMessages = formErrorMessages||{};
function showErrorMessage(elementId, message) {
var element = $('#'+elementId);

    


    if (!formErrorMessages[elementId]) {
    //console.log(formErrorMessages[elementId]);
        //var parsleyId = element.attr('data-parsley-id');
        //var parsleyErrorContainer = $('#parsley-id-'+parsleyId);
        //parsleyErrorContainer.addClass('filled');
        element.after('<div class="error-message">'+message+'</div>');
        console.log(message);
        //element.addClass('parsley-error');
        if (!formErrorMessages[elementId]) 
            formErrorMessages[elementId] = {};
        
        formErrorMessages[elementId] = true;
    }
}
function proceedFormWithReturnedHtml(elemId, formId, data) {
if (data.result == 'fail' && data.errors && data.errors.length > 0) {
//alert(2323);
        for (var i = 0; i < data.errors.length; i++) {
            for (var errorKey in data.errors[i]) {
                if (data.errors[i].hasOwnProperty(errorKey)) {
                    var errorMessage = data.errors[i][errorKey],
                        inputElement = $('#' + formId + ' *[name="' + errorKey + '"]');

                    if (errorKey != 'alert' && inputElement.size() > 0) {
                        showErrorMessage(inputElement.attr('id'), errorMessage);
                    } else {
                    //console.log(errorMessage);exit;
                        //pwnResponsive.formUtils.alertErrorMessage(errorMessage);
                    }
                }
            }
        }
    }
}
    $('#addBook').submit(function (e) {
        e.preventDefault();
        
            //var successUrl = $(this).attr('data-success-url');
            var formId = $(this).attr('id');
            $.post(
                $(this).attr('action'),
                $(this).serialize(),
                function (data, textStatus, jqXHR) {
                    if (data.result == 'success') {
                        window.location.replace(successUrl);
                    } else {

                        proceedFormWithReturnedHtml('input-box', formId, data);
                    }
                }
            );
        
    });
});
</script>
{% set bookId = ((app.request.get('id') != '') ? app.request.get('id') : '') %}
<div class="panel panel-default container">
<div class="panel-heading"><h1>Edit book</h1></div>
    <div class="panel-body">
        <div class="row">
            <form id="addBook" method="post" action={{ path('datum_frontend_editbook', { 'id': bookId }) }} novalidate>
                <div class="col-xs-8">
                    <div class="form-group">
                        {{ form_label(oBookForm.name) }}

                        {{ form_widget(oBookForm.name) }}

                        {{ form_errors(oBookForm.name) }}
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        {{ form_label(oBookForm.categories) }}

                        {{ form_widget(oBookForm.categories) }}

                        {{ form_errors(oBookForm.categories) }}
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="form-group">
                        {{ form_label(oBookForm.authors) }}

                        {{ form_widget(oBookForm.authors) }}

                        {{ form_errors(oBookForm.authors) }}
                    </div>
                </div>
                <div class="col-xs-8">
                    {{ form_rest(oBookForm) }}
                    <button type="submit" class="btn btn-primary">Update</button>
                    <a href="{{ path('datum_frontend_booklisting')}}">cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
