{% extends 'DatumFrontendBundle:Base:layout.html.twig' %}

{% block container %}

<div class="panel panel-default container">
<div class="panel-heading"><h1>Books listing</h1></div>
    <div class="panel-body">
        <div class="row">
            <div style="margin-bottom:15px;">
                <a class="btn btn-primary" href="{{ path('datum_frontend_addbook')}}">Add new book</a>
            </div>
            <table class="table table-striped table-hover">
                {% include "DatumFrontendBundle:Base:messages.html.twig" %}
                <tr>
                <th>Book title</th>
                <th>Author</th>
                <th>view</th>
                <th>edit</th>
                <th>delete</th>
                </tr>
                {% if oBookDetail.getTotalItemCount > 0 %}
                    {% for book in oBookDetail %}
                    <tr>
                        <td>{{ book.name }}</td>
                        <td>{{ book.authors.name }}</td>
                        
                        <td><a href="{{ path('datum_frontend_bookdetail', { 'id': book.id } )}}">View</a></td>
                        <td><a href="{{ path('datum_frontend_editbook', { 'id': book.id } )}}">Edit</a></td>
                        <td><a href="{{ path('datum_frontend_deletebook', { 'id': book.id } )}}" onclick="return confirm('Are you sure you want to delete?')">Delete</a></td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="6" align="right">
                            {{ knp_pagination_render(oBookDetail) }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" align="center">
                            {{ "No record found" }}
                        </td>
                    </tr>
                {% endif %}
            </table>    
        </div>
    </div>  
</div>
{% endblock%}
