{% extends 'DatumFrontendBundle:Base:layout.html.twig' %}

{% block container %}
<div class="panel panel-default container">
    <div class="panel-heading"><h1><u>Book detail</u></h1></div>
        <div class="panel-body">
            <div class="row">
                <table class="table table-striped table-hover">
                {% if oBookDetail|length > 0 %}
                    
                    <tr>
                        <td align="right"><b>{{ "Book title" }}</b></td>
                        <td>:</td>
                        <td>{{ oBookDetail.name }}</td>
                    </tr>
                    <tr>
                        <td align="right"><b>{{ "Author" }}</b></td>
                        <td>:</td>
                        <td>{{ oBookDetail.authors.name }}</td>
                    </tr>
                    <tr>
                        <td align="right"><b>{{ "Category" }}</b></td>
                        <td>:</td>
                        <td>
                            {% for key, category in oBookDetail.categories %}
                                {% if key != 0 %}{{ "," }}{% endif %} {{ category.name }}
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                        <td align="left"><a class="btn btn-primary" href="{{ path('datum_frontend_booklisting')}}">cancel</a></td>
                    </tr>
                {% else %}
                    {{ "No record found" }}
                {% endif %}
                </table>
            </div>
        </div>
</div>
{% endblock%}