
html {
    min-height: 100%;
    position: relative;
}

.footer {
    background-color: #F5F5F5;
    height: 60px;
    width: 100%;
}
.header {
    background-color: #F5F5F5;
    height: 60px;
    width: 100%;
    margin-bottom: 15px;
}
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.footer > .container {
    padding-left: 15px;
    padding-right: 15px;
}
code {
    font-size: 80%;
}
