<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />

    <title>{% block title %}Library management{% endblock %}</title>
    {% block stylesheet %}
        {% stylesheets
            "@DatumFrontendBundle/Resources/public/css/bootstrap.css"
            "@DatumFrontendBundle/Resources/public/css/docs.min.css"
            "@DatumFrontendBundle/Resources/public/css/base.css"
            "@DatumFrontendBundle/Resources/public/css/sticky-footer.css"
        %}
            <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
        {% endstylesheets %}
    {% endblock %}

    {% block favicon %}
        {% image '@DatumFrontendBundle/Resources/public/images/favicon.ico' %}
            <link rel="icon" type="image/x-icon" href="{{ asset_url }}" />
        {% endimage %}
    {% endblock %}
</head>
<body>
    {% block main_container %}
        {% block header_menu %}
            <div class="menu-container large-12">
                {% include 'DatumFrontendBundle:Base:header.html.twig' %}
            </div>
        {% endblock header_menu %}

        {% block container %}
        {% endblock container %}

        {% block footer %}
            {% include 'DatumFrontendBundle:Base:footer.html.twig' %}
        {% endblock footer %}
    {% endblock main_container %}
    
</body>
</html>
